[submodule "cmtk"]
	path = external/cmake/cmtk
	url = https://github.com/arapelle/cmtk.git
	branch = release/0.11.0
[submodule "arba-core"]
	path = arba-core
	url = https://github.com/arapelle/arba-core.git
	branch = release/0.18.0
[submodule "arba-strn"]
	path = arba-strn
	url = https://github.com/arapelle/arba-strn.git
	branch = release/0.2.0
[submodule "arba-seri"]
	path = arba-seri
	url = https://github.com/arapelle/arba-seri.git
	branch = release/0.5.0
[submodule "arba-math"]
	path = arba-math
	url = https://github.com/arapelle/arba-math.git
	branch = release/0.4.0
[submodule "arba-grid"]
	path = arba-grid
	url = https://github.com/arapelle/arba-grid.git
	branch = release/0.3.0
[submodule "arba-wgen"]
	path = arba-wgen
	url = https://github.com/arapelle/arba-wgen.git
	branch = release/0.2.0
[submodule "arba-dirn"]
	path = arba-dirn
	url = https://github.com/arapelle/arba-dirn.git
	branch = release/0.2.0
[submodule "arba-inis"]
	path = arba-inis
	url = https://github.com/arapelle/arba-inis.git
	branch = release/0.2.0
[submodule "arba-cryp"]
	path = arba-cryp
	url = https://github.com/arapelle/arba-cryp.git
	branch = release/0.3.0
[submodule "arba-vlfs"]
	path = arba-vlfs
	url = https://github.com/arapelle/arba-vlfs.git
	branch = release/0.2.0
[submodule "arba-rsce"]
	path = arba-rsce
	url = https://github.com/arapelle/arba-rsce.git
	branch = release/0.2.0
[submodule "arba-evnt"]
	path = arba-evnt
	url = https://github.com/arapelle/arba-evnt.git
	branch = release/0.3.0
[submodule "arba-appt"]
	path = arba-appt
	url = https://github.com/arapelle/arba-appt.git
	branch = release/0.12.0
