[submodule "cmake/cmtk"]
	path = cmake/cmtk
	url = https://github.com/arapelle/cmtk
	branch = release/0.2.0
[submodule "strn"]
	path = strn
	url = https://github.com/arapelle/strn
	branch = release/0.1.3
[submodule "wgen"]
	path = wgen
	url = https://github.com/arapelle/wgen
	branch = release/0.1.4
