[submodule "core"]
	path = core
	url = https://github.com/arapelle/core
	branch = release/0.8
[submodule "strn"]
	path = strn
	url = https://github.com/arapelle/strn
	branch = release/0.1.4
[submodule "wgen"]
	path = wgen
	url = https://github.com/arapelle/wgen
	branch = release/0.1.7
[submodule "cryp"]
	path = cryp
	url = https://github.com/arapelle/cryp
	branch = release/0.2.4
[submodule "seri"]
	path = seri
	url = https://github.com/arapelle/seri/
	branch = release/0.1.2
[submodule "dirn"]
	path = dirn
	url = https://github.com/arapelle/dirn
	branch = release/0.1.0
[submodule "inis"]
	path = inis
	url = https://github.com/arapelle/inis
	branch = release/0.1.0
[submodule "math"]
	path = math
	url = https://github.com/arapelle/math
	branch = release/0.3.1
[submodule "grid"]
	path = grid
	url = https://github.com/arapelle/grid
	branch = release/0.2
[submodule "vlfs"]
	path = vlfs
	url = https://github.com/arapelle/vlfs
	branch = release/0.1.0
[submodule "rsce"]
	path = rsce
	url = https://github.com/arapelle/rsce
	branch = release/0.1.0
[submodule "appt"]
	path = appt
	url = https://github.com/arapelle/appt
	branch = release/0.11
[submodule "cmtk"]
	path = external/cmake/cmtk
	url = https://github.com/arapelle/cmtk.git
	branch = release/0.10.0
[submodule "evnt"]
	path = evnt
	url = https://github.com/arapelle/evnt.git
	branch = release/0.2.0
